@model DisplayMonkey.Models.Frame

<h2>Tilldelade Scheman</h2>


@Html.ActionLink("Tilldela schema", "Attach_schedule", "Frame", new { id = Model.FrameId }, null)

@if (Model.FrameSchedules.Count == 0)
{
<p>Visas enligt datuminställningar</p>
}
else
{
<table class="grid">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FrameSchedules.FirstOrDefault().ID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FrameSchedules.FirstOrDefault().Frame2Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrameSchedules.FirstOrDefault().ScheduleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrameSchedules.FirstOrDefault().ScheduleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.FrameSchedules)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Frame2Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ScheduleId)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ScheduleName)
    </td>
    <td>
        @Html.ActionLink(Resources.Remove, "Detach", "FrameSchedule", new { id = item.ID }, null)
    </td>
</tr>
    }

</table>
}
