@model DisplayMonkey.Models.Frame

<h2>Tilldelade Scheman</h2>


@Html.ActionLink("Tilldela schema", "Attach_schedule", "Frame", new { id = Model.FrameId }, null)

@if (Model.Schedules.Count == 0)
{
<p>Visas enligt datuminställningar</p>
}
else
{
<table class="grid">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schedules.FirstOrDefault().ScheduleId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Schedules.FirstOrDefault().ScheduleName)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model.Schedules)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.ScheduleId)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ScheduleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ScheduleId)
    </td>

    <td>
        @Html.ActionLink(Resources.Remove, "Detach_schedule", "Frame", new { id = Model.FrameId, scheduleId = item.ScheduleId }, null)
 
    </td>
</tr>
    }

</table>
}
